/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Country Market';
	src:
		local("Country Market"),
		url("Country Market.otf") format("opentype"),
		url("Country Market.ttf") format("truetype");
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: white;
	--color-background: black;
	--announcement-font: 'Playfair Display', serif;
	--article-font: 'montserrat', serif;
	--heading-font: 'Country Market', serif;

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
html {
	width: 100%;
}

body {
	background-color: black;
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0;
}

[class='details dark-mode'] {
	background-color: white;
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0;
	color: black;
	text-decoration: dotted;
}

[class='dark-mode'] {
	background-color: white;
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0;
	color: black;
	text-decoration: dotted;
}

body::-webkit-scrollbar {
	width: 0;

}

nav::-webkit-scrollbar {
	width: 0;
}

section::-webkit-scrollbar {
	height: 0;
}

header {
	z-index: 1000;
	position: sticky;
	top: 0em;
	background: black;
}


main {
	background-color: #071520;
	max-width: 100%;
	z-index: 1;
}



main ul li {
	margin: auto;
}

h1 {
	display: none;

}

h1+img {
	aspect-ratio: 3/2;
	object-fit: cover;

}

section h2 {
	display: none;
}

a img {
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img {
	width: 100%;
}

nav.toonMenu {
	translate: 0% 0%;
}

nav {
	background-color: #071520;
	top: 0;
	left: 0;
	bottom: 0;
	right: 2em;
	transition: translate .3s;
	position: fixed;
	translate: -100% 0%;
	color: white;
	display: block;
	overflow-y: scroll;
	

}

nav button {
	margin: 1em;
	padding-top: 0.5em;
	height: 15px;
	width: 15px;
}

nav button svg {
	height: 15px;
	width: 15px;
	stroke-width: 1.5px;

}

nav a {
	font-family: var(--article-font);
	color: white;
	text-decoration: none;
	margin-left: 1em;
	padding-bottom: 3em;
	display: block;
	font-size: 0.9em;
}

details {
	display: flex;
	flex-direction: column;
	margin: 1em;

}

summary {
	padding-bottom: 1em;
	font-family: var(--article-font);

}


nav details a {
	color: white;
	text-decoration: none;
	font-family: var(--article-font);
	padding: 1em;
	margin-bottom: 0em;
	font-size: inherit;

}

header svg {

	color: white;
	stroke-width: 2px;
	height: 20px;

	top: 3px;


}

header ul {
	display: flex;
	flex-direction: row;
}

header ul li {

	height: 2em;
}

svg {
	color: white;
	max-height: 30px;
	/* https://stackoverflow.com/questions/63797845/svg-path-error-path-attribute-d-expected-number */

}

button {
	all: unset;
}

button svg {
	height: 15px;
}

header ul li:nth-of-type(1) {


	margin-right: 19em;
	margin-left: -1em;

}

header ul li:nth-of-type(2) {
	margin-right: 1em;

}

header ul li:nth-of-type(3) {

	margin-right: 1em;

}

section {
	padding-bottom: 2em;

}

p {
	color: white;
	text-align: center;
	font-family: var(--article-font);
	font-weight: 200;
	padding: 1em;
	margin-top: 0px;

}

article {
	display: flex;
	flex-direction: column;
}

article:nth-of-type(1) h2 {
	font-family: var(--announcement-font);
	color: white;
	font-size: 14px;
	line-height: 28px;
	margin: 0px 9.5px;

}

article:nth-of-type(2) h2 {
	font-family: var(--article-font);
	color: white;
	padding: 1em;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;

}

article a {

	font-family: 'montserrat';
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	background-color: #994545;
	padding: 16px 30px;
	text-decoration: none;
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;

}



article:first-of-type {
	padding: 12px 15px 25px;
	max-width: 100%;
	top: 0px;

}

h2 {
	color: white;
	text-align: center;
	font-family: var(--heading-font);
	font-size: 40px;
	margin-top: 0.5em;
	margin-bottom: 0px;
}

h3 {
	color: white;
	text-align: center;
	font-family: var(--heading-font);
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

h4 {
	color: white;

	font-family: var(--heading-font);
	font-size: 36px;
}

li a {
	text-decoration: none;
	color: white;
	font-family: var(--article-font);
	line-height: 1.5;
}

li {
	height: 3em;
	list-style-type: none;
}

h4+p {
	text-align: left;
}



footer ul svg {
	width: 1em;
	margin: 1em;
	height: 1em;
}

footer {
	display: block;
	padding: 2em 0em 2em 2em;
	position: absolute;
}

footer img {
	margin: 40px 77.5px;
	width: 239px;
	display: block;

}

footer ul:last-of-type {
	display: flex;
	flex-direction: row;
}

footer ul:last-of-type li {
	background-color: white;
	margin: 4px;
	padding: 1px;

}

footer p {
	font-weight: 200;
	line-height: 1.5;
	font-size: 14px;

}

footer ul {
	padding: 0px;
}

footer ul li a {
	font-size: 14px;
}

main ul:first-of-type {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

main ul:first-of-type li {
	margin: 3em;
	padding: 0px;
}

main ul:first-of-type li p {
	font-size: 14px;
	padding: 0px;
	line-height: 1.65;
	font-weight: 300;
}

[class="details"] main ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	min-height: 3em;
	color: #071520;
	z-index: 999;
}

[class="details"] main ul:nth-of-type(1) li {
	height: auto;
	margin: 0px;
}

[class="details"] main svg {
	stroke-width: 2px;
	width: 1em;
	height: 1em;
}

[class="details"] main ul:nth-of-type(1) li a {
	font-size: 14px;
}

[class="details"] main section ul li {
	padding: 0px;
}

div {
	position: relative;
	overflow: hidden;
	margin: auto;
}

div section:first-of-type {
	padding: 0px;
	display: flex;
	flex-direction: row;
	transition: transform 0.5s ease-in-out;

}

div section:first-of-type img {
	min-width: 100%;
	box-sizing: border-box;


}

[class="details"] main div svg {
	stroke-width: 1px;

}

[class="details"] main div button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	font-size: 20px;
	border: none;
	outline: none;
}

[class="details"] main div button:first-of-type {
	left: 10px;
	background-color: transparent;
	padding: 0em;
	margin: 0em;
}

[class="details"] main div button:last-of-type {
	background-color: transparent;
	padding: 0em;
	margin: 0em;
	right: 10px;
}

[class="details"] article:nth-of-type(1) h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	font-weight: 100;
	margin: 0.2em;
	display: block;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}

[class="details"] h3 {
	font-family: 'montserrat', serif;
	font-size: 1.2em;
	font-weight: 500;
	margin: 0.5em;
}

[class="details"] h4 {
	font-family: 'montserrat', serif;
	font-size: 1em;
	font-weight: 600;
	margin: 0.5em;
	text-align: center;
}

[class="details"] footer h4 {
	color: white;
	text-align: left;
	font-family: var(--heading-font);
	font-size: 36px;
}

[class="details"] main ul:nth-of-type(2) {
	display: flex;
	padding-bottom: 1em;
	padding-left: 0em;
	justify-content: center;
	margin: 0em;


}

[class="details"] main ul:nth-of-type(2) li {

	height: 2em;
	margin: 0.2em;

}

[class="details"] article a {
	padding: 0em;
	margin: 1em;
	background-color: #071520;

	line-height: 0em;


}

[class="details"] article {
	padding: 0em;
}

[class="details"] main ul:nth-of-type(2) a img {
	border-radius: 50%;
	/* https://www.w3schools.com/css/css3_images.asp */
	margin: 0em;
	max-width: fit-content;


}

article button:nth-of-type(2) {
	font-family: 'montserrat';
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	background-color: #994545;
	padding: 16px 30px;
	text-decoration: none;
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

article button {
	font-family: 'montserrat';
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	background-color: #13202b;
	padding: 16px 30px;
	text-decoration: none;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

[class="details"] main article p {
	background-color: #13202b;
	padding: 16px 30px;
	margin: 1em 2em;
}

[class="details"] main article p a strong {
	text-decoration: underline;
}

[class="details"] article ul a:last-of-type {
	font-weight: 300;

}

[class="details"] article ul:last-of-type {
	padding: 0em;
	margin: 1em 2em;
}

[class="details"] article ul:last-of-type li {
	display: flex;
	height: 2em;

}

[class="details"] article ul:last-of-type li img {
	max-height: 1em;
	max-width: 1em;
}

[class="details"] article ul:last-of-type li p {
	background-color: #071520;
	text-align: left;
	font-size: .9em;
	padding: 0em;
	margin: 0em 1em;
}

article details {
	padding: 0em 1em;
	list-style-position: right;
}

article details summary {
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 1.3em;
}

[class="details"] article details p {
	padding: 0em;
	margin: 0em 0em 1em 0em;
	background-color: #071520;
	text-align: left;
	font-size: .88em;
	line-height: 2;
}

[class="details"] article details p a {
	margin: 0em;
	text-decoration: underline;
	font-weight: 300;
}

h5 {
	font-family: var(--heading-font);
	color: white;
	text-align: center;
	font-size: 2em;
	padding: 1em 0em;
	margin: 0em;
	grid-column: 1 / -1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h5+img {
	margin-top: 6em;
	width: 300px;
	align-self: center;
	z-index: 1000;
}

@keyframes flippingTheScript {
	0% {
		rotate: 0deg;
		scale: 1;
	}

	50% {
		scale: 5;
	}

	100% {
		rotate: 360deg;
		scale: 1;
	}

	/* https://codepen.io/Tobias-vdw/pen/jOdvajb */
}

h5+img:hover {
	animation-name: flippingTheScript;
	animation-duration: 1s;
}

[class="details"] main>article:nth-of-type(3)>section:first-of-type {
	display: grid;
	grid-template-rows: 3em auto;
	gap: 2em;
	text-align: left;
	overflow-x: scroll;
	

}

[class="details"] main>article:nth-of-type(3) section:first-of-type section {
	display: inline-block;
	width: 20em;
	grid-row-start: 2;
	margin-top: 4em;
}

[class="details"] main>article:nth-of-type(3) section img {
	max-width: 100%;
	height: auto;
}

[class="details"] main>article:nth-of-type(3) section:first-of-type section:first-of-type {
	margin-left: 3em;
}

[class="details"] main>article:nth-of-type(3) section:first-of-type section:last-of-type {
	margin-right: 3em;
}

h6 {
	text-align: center;
	font-size: 1em;
	margin: 1em 0em 0em 0em;

}

[class="details"] main>article:nth-of-type(3) section:first-of-type section p {
	font-size: .8em;
	margin: 0.5em;
	padding: 0em;
	background-color: #071520;
}

/* Donna Stam:
https://codepen.io/d0nnaz/pen/OJdGmoq?editors=1100 */